<table id='report_log' class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= _("Level") %></th>
      <th><%= _("Module") %></th>
      <th><%= _("Arguments") %></th>
      <th><%= _("Message") %></th>
    </tr>
  </thead>
  <tbody>
    <% logs.each do |log| %>
      <tr>
        <td><div style="height:120px; overflow:auto"><span <%= report_tag log.level %>><%= h log.level %></span></div></td>
        <td><div style="height:120px; overflow:auto"><%= h module_name(log) %></div></td>
        <td><div style="height:120px; overflow:auto"><%= h module_args(log) %></div></td>
        <td><div style="height:120px; overflow:auto"><%= ansible_module_message(log) %></div></td>
      </tr>
    <% end %>
    <tr id='ntsh' <%= "style='display: none;'".html_safe if logs.size > 0%>><td colspan="3">
        <%= _("Nothing to show") %>
      </td></tr>
  </tbody>
</table>
